{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekart</title>
    {% tailwind_css %}
</head>
<body class="font-body">
    
    <div>   <!-- content-wrapper -->
        <div>   <!-- landing-area -->
            <nav class="flex justify-between items-center p-5 border-b-2 border-gray-200">
                <div>
                    <h1>
                        <a href="/" class="font-bold text-primary text-2xl uppercase">Rekart</a>
                    </h1>
                </div>

                <div class="hidden md:block">
                    <ul class="flex gap-5 font-semibold black-text">
                        <li>
                            <a href="/" class="hover:font-bold">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'shop' %}" class="hover:font-bold">Shop</a>
                        </li>
                        <li>
                            <a href="#" class="hover:font-bold upp">Dashboard</a>
                        </li>
                    </ul>
                </div>
                
                <ul class="hidden md:flex gap-2">
                    <li>
                        <a href="#" class="btn text-xs btn-color hover-effect">Sign up</a>
                    </li>
                    <li>
                        <a href="#" class="btn text-xs btn-color hover-effect">Login</a>
                    </li>
                </ul>

                <div class="px-4 cursor-pointer md:hidden" id="burger">
                    <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>  
                </div>

            </nav>

            <ul class="border-t-2 border-gray-300 text-lg text-center font-semibold black-text hidden md:hidden" id="phone-menu">
                <li class="py-4">
                    <a href="#" class="hover:font-bold">Login</a>
                </li>
                <li class="py-4">
                    <a href="#" class="hover:font-bold">Sign up</a>
                </li>
                <li class="py-4">
                    <a href="/" class="hover:font-bold">Home</a>
                </li>
                <li class="py-4">
                    <a href="shop.html" class="hover:font-bold">Shop</a>
                </li>
                <li class="py-4">
                    <a href="#" class="hover:font-bold upp">Dashboard</a>
                </li>
            </ul>
        </div>

        <div class="p-16 bg-gradient-to-b from-primary from-43% to-secondary to-100%  text-white flex flex-wrap justify-around items-center">
            <div>
                <h1 class="text-5xl font-bold">Welcome to Rekart</h1>
                <p class="text-lg">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                <a href="#content">Let's explore</a>
            </div>
                
            <div>
                <img class="animate-digonal" src="{% static 'img/3d-casual-life-ecology-bag.png' %}" alt="">
            </div>
        </div>

        <main class="bg-gray-100 px-16 md:px-44 xl:px-80" id="content">
            <h2 class="text-center text-4xl font-extrabold pt-12 black-text">
                <span class="text-primary">Our</span>
                Products
            </h2>
            <h3 class="font-semibold text-2xl black-text  pb-2 pt-12 border-b-2 border-gray-200 =">Recycled products</h3>

            <div class="mt-8 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"> <!-- card wrapper -->

                <!-- card -->
                {% for product in products %}
                <div class="bg-white rounded-md overflow-hidden shadow-md hover:shadow-lg"> 
                    <img src="{{ product.image.url }}" class="w-full h-52  sm:h-64 object-cover" alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-lg black-text">{{product.name}}</span>
                        <span class="block text-secondary font-bold">&#8377 {{product.price}}</span>
                    </div>
                    <div class="mx-4 mb-4">
                        <p>seller : {{product.seller}}</p>
                    </div>
                </div>
                {% endfor %}


                <!-- card -->
                <!-- <div class="bg-white rounded-md overflow-hidden shadow-md hover:shadow-lg"> 
                    <img src="{% static 'img/recycled_chair.png' %}" class="w-full h-52  sm:h-64 object-cover" alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-lg black-text">PVC Powder</span>
                        <span class="block text-secondary font-bold">100/kg</span>
                    </div>
                    <div class="mx-4 mb-4 flex justify-start items-center gap-1">
                        <svg class="w-4 black-text" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                        </svg>    
                        <span class="black-text">Poland</span>
                    </div>
                </div> -->

                
                <!-- card -->
                <!-- <div class="bg-white rounded-md overflow-hidden"> 
                    <img src="img/8e977e1e73c7.jpeg" class="w-full h-52 sm:h-64 " alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-xl">PVC Powder</span>
                        <span class="block text-lg">100/kg</span>
                    </div>
                    <div class="m-4 mb-4">
                        <span class="text-">Poland</span>
                    </div>
                </div> -->

                <!-- card -->
                <!-- <div class="bg-white rounded-md overflow-hidden shadow-lg">
                    <img src="img/8e977e1e73c7.jpeg" class="w-full h-52 sm:h-64 " alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-xl">PVC Powder</span>
                        <span class="block text-lg">100/kg</span>
                    </div>
                    <div class="m-4">
                        <span class="text-">Poland</span>
                    </div>
                </div> -->
            </div> <!-- card wrapper end -->



            <div class="py-10">
                <h3 class="text-bold text-xl font-bold black-text ">Top Categories</h3>
            </div>

            <div>
                <ul class="flex flex-wrap  gap-5 lg:gap-6">
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">Furniture</a>
                    </li>
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">Home accessories</a>
                    </li>
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">Stationery</a>
                    </li>
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">Bags</a>
                    </li>
                </ul>
            </div>


            <div class="flex justify-center mt-14">
                <div class="btn black-text bg-gray-200 border-gray-300 hover:shadow-inner transform hover:scale-105 hover:opacity-50 transition ease-out duration-300">Load more</div>
            </div>


            <h3 class="font-semibold text-2xl black-text  pb-2 pt-12 border-b-2 border-gray-200">Plastic</h3>

            <div class="mt-8 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"> <!-- card wrapper 2 -->
                <div class="bg-white rounded-md overflow-hidden shadow-md hover:shadow-lg"> <!-- card -->
                    <img src="img/8e977e1e73c7.jpeg" class="w-full h-52  sm:h-64 object-cover" alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-lg black-text">PVC Powder</span>
                        <span class="block text-secondary font-bold">100/kg</span>
                    </div>
                </div>

                <div class="bg-white rounded-md overflow-hidden shadow-md hover:shadow-lg"> <!-- card -->
                    <img src="img/PVC_powder.jpeg" class="w-full h-52  sm:h-64 object-cover" alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-lg black-text">PVC Powder</span>
                        <span class="block text-secondary font-bold">100/kg</span>
                    </div>
                </div>

                <div class="bg-white rounded-md overflow-hidden shadow-md hover:shadow-lg"> <!-- card -->
                    <img src="img/8e977e1e73c7.jpeg" class="w-full h-52  sm:h-64 object-cover" alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-lg black-text">PVC Powder</span>
                        <span class="block text-secondary font-bold">100/kg</span>
                    </div>
                </div>

                <div class="bg-white rounded-md overflow-hidden shadow-md hover:shadow-lg"> <!-- card -->
                    <img src="img/8e977e1e73c7.jpeg" class="w-full h-52  sm:h-64 object-cover" alt="pvc powder">
                    <div class="m-4">
                        <span class="font-bold text-lg black-text">PVC Powder</span>
                        <span class="block text-secondary font-bold">100/kg</span>
                    </div>
                </div>

            </div> <!-- card wrapper-2 end -->

            <div class="py-10">
                <h3 class="text-bold text-xl font-bold black-text ">Top Categories</h3>
            </div>

            <div class="pb-10">
                <ul class="flex flex-wrap  gap-5 lg:gap-6">
                    {% for x in categories %}
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">{{x}}</a>
                    </li>
                    {% endfor %}
                    <!-- <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">HDPE</a>
                    </li>
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">PVC</a>
                    </li>
                    <li>
                        <a class="btn btn-color text-xs hover-effect" href="#">LDPE</a>
                    </li> -->
                </ul>
            </div>

            <div class="flex justify-center py-10">
                <div class="btn black-text bg-gray-200 border-gray-300 hover:shadow-inner transform hover:scale-105 hover:opacity-50 transition ease-out duration-300">Load more</div>
            </div>

        </main>
        <footer class="h-32 bg-gray-900">
            
        </footer>
    </div>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>